-var settings = {pageName: 'Главная'}
-;
doctype html
html(lang="uk")
  head
    include includes/head.pug
    include includes/mixins.pug
  body
    include includes/header.pug
    |dfd
    include includes/footer.pug
    
